/*
	$darkest: #1e1e1e;
	$darker: #262626;
	$dark: #2d2d2d;
	$dimmer: #323232;
	$dim: #393939;
	$light: #454545;
	$lighter: #515151;
	$bright: #7e7e7c;
	$brighter: #d3d0c8;
	$brightest: white;

	$red: #f2777a;
	$yellow: #ffcc66;
	$yellow2: #fff62f;
	$purple: #cc99cc;
	$blue: #6699cc;
	$green: #99cc99;
	$red: #f2777a;
	$red2: #ff6b64;
	$lime: #03dba7;
	$orange: #ff855c;
	$cyan: #18e9cd;
*/

$blue: #00d0ff;
$darkBlue: #007bc1;

$text-color: #FFF;
$link-color: white;
$hover-color: $blue;

@keyframes playingBars {
	0% {
		margin-top: 13px;
		height: 2px;
	}
	50% {
		margin-top: 0px;
		height: 15px;
	}
	100% {
		margin-top: 13px;
		height: 2px;
	}
}

@import "_reset";
@import "utilities";
@import "typography";
@import "layout";