@font-face {
  font-family: ProximaRegular;
  src: url(../fonts/Proxima/ProximaNova-Regular.otf);
}

@font-face {
  font-family: ProximaBold;
  src: url(../fonts/Proxima/ProximaNova-Bold.otf);
}

@font-face {
  font-family: ProximaSemiBold;
  src: url(../fonts/Proxima/ProximaNova-Semibold.otf);
}

@font-face {
  font-family: ProximaLight;
  src: url(../fonts/Proxima/ProximaNova-Light.otf);
}

$fontRegular: ProximaRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSemiBold: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontBold: ProximaBold, "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
  font-size: 87.5%;
  color: $text-color;
  line-height: 1.5;
  font-family: $fontRegular;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $text-color;
  font-family: $fontSemiBold;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1rem;
  //line-height: 1;
  line-height: 66px;
  margin-bottom: 1em;
  text-transform: uppercase;
  padding: 0px 30px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  letter-spacing: 2px;
}
header h3 {
  margin: 0px -20px 10px;
}

h4 {
  font-size: 1.1rem;
  line-height: 66px;
  height: 66px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
  line-height: 1.5rem;
}

a:hover, a:active {
  outline: none;
  color: $hover-color;
}

a, a:active, a:visited {
  color: $link-color;
  font-weight: normal;
  transition: color .1s ease-in-out;
}

a:hover {
  color: $hover-color;
}

blockquote {}

strong {
  font-weight: bold;
}

em,dfn {
  font-style: italic;
}

dfn {
  font-weight: bold;
}

sup, sub {
  line-height: 0;
}

abbr,
acronym {}

address {}

del {}

pre,code {
  white-space: pre;
}

pre,code,tt {}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

li ul,
li ol {
  margin: 0 1.5rem;
}

ul, ol {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5rem 0;
}

dl dt {
  font-weight: bold;
  margin-bottom: 1rem;
}

dd {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

dl.horizontal {
  @extend .clearfix;
  dt {
    float: left;
    clear: both;
    width: 40%;
  }
  dd {
    margin-left: 40%;
    line-height: 1.25rem;
  }
}

table {
  width: 100%;
}

th {}

th,td {}

tr.even td {}

tfoot {}

caption {}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
  -webkit-appearance: none;
}

label {
  font-weight: bold;
}

fieldset {}

legend {
  font-weight: bold;
}

input {}

textarea {}

textarea {}

textarea:focus {}

select {}

select:focus {}