/*
	$darkest: #1e1e1e;
	$darker: #262626;
	$dark: #2d2d2d;
	$dimmer: #323232;
	$dim: #393939;
	$light: #454545;
	$lighter: #515151;
	$bright: #7e7e7c;
	$brighter: #d3d0c8;
	$brightest: white;

	$red: #f2777a;
	$yellow: #ffcc66;
	$yellow2: #fff62f;
	$purple: #cc99cc;
	$blue: #6699cc;
	$green: #99cc99;
	$red: #f2777a;
	$red2: #ff6b64;
	$lime: #03dba7;
	$orange: #ff855c;
	$cyan: #18e9cd;
*/
@-webkit-keyframes playingBars {
  0% {
    margin-top: 13px;
    height: 2px; }

  50% {
    margin-top: 0px;
    height: 15px; }

  100% {
    margin-top: 13px;
    height: 2px; } }
@keyframes playingBars {
  0% {
    margin-top: 13px;
    height: 2px; }

  50% {
    margin-top: 0px;
    height: 15px; }

  100% {
    margin-top: 13px;
    height: 2px; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix, dl.horizontal, #header-region, #footer-region, #timeline, .slideshow .bullets, .slideshow .slides, .thumbnail-list ul, .details .share-col .content {
  *zoom: 1; }
  .clearfix:before, dl.horizontal:before, #header-region:before, #footer-region:before, #timeline:before, .slideshow .bullets:before, .slideshow .slides:before, .thumbnail-list ul:before, .details .share-col .content:before, .clearfix:after, dl.horizontal:after, #header-region:after, #footer-region:after, #timeline:after, .slideshow .bullets:after, .slideshow .slides:after, .thumbnail-list ul:after, .details .share-col .content:after {
    content: " ";
    display: table; }
  .clearfix:after, dl.horizontal:after, #header-region:after, #footer-region:after, #timeline:after, .slideshow .bullets:after, .slideshow .slides:after, .thumbnail-list ul:after, .details .share-col .content:after {
    clear: both; }

@font-face {
  font-family: ProximaRegular;
  src: url(../fonts/Proxima/ProximaNova-Regular.otf); }

@font-face {
  font-family: ProximaBold;
  src: url(../fonts/Proxima/ProximaNova-Bold.otf); }

@font-face {
  font-family: ProximaSemiBold;
  src: url(../fonts/Proxima/ProximaNova-Semibold.otf); }

@font-face {
  font-family: ProximaLight;
  src: url(../fonts/Proxima/ProximaNova-Light.otf); }

html {
  font-size: 87.5%;
  color: #FFF;
  line-height: 1.5;
  font-family: ProximaRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #FFF;
  font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2rem;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1rem;
  line-height: 66px;
  margin-bottom: 1em;
  text-transform: uppercase;
  padding: 0px 30px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  letter-spacing: 2px; }

header h3 {
  margin: 0px -20px 10px; }

h4 {
  font-size: 1.1rem;
  line-height: 66px;
  height: 66px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px; }

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem; }

h6 {
  font-size: 1rem;
  font-weight: bold; }

p {
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
  line-height: 1.5rem; }

a:hover, a:active {
  outline: none;
  color: #00d0ff; }

a, a:active, a:visited {
  color: white;
  font-weight: normal;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out; }

a:hover {
  color: #00d0ff; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

pre, code {
  white-space: pre; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

li ul, li ol {
  margin: 0 1.5rem; }

ul, ol {
  margin: 0 1.5rem 1.5rem 1.5rem; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5rem 0; }

dl dt {
  font-weight: bold;
  margin-bottom: 1rem; }

dd {
  margin-left: 1.5rem;
  margin-bottom: 1rem; }

dl.horizontal dt {
  float: left;
  clear: both;
  width: 40%; }
dl.horizontal dd {
  margin-left: 40%;
  line-height: 1.25rem; }

table {
  width: 100%; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer;
  -webkit-appearance: none; }

label {
  font-weight: bold; }

legend {
  font-weight: bold; }

html {
  height: 100%; }

body {
  background-color: #111;
  min-height: 100%;
  height: 100%; }

#page {
  position: relative;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out; }

#overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 100;
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out; }
  #overlay.show {
    display: block; }

nav ul {
  margin: 0; }
  nav ul li {
    display: inline-block; }
    nav ul li.icon a {
      width: 20px;
      text-align: center; }
    nav ul li.icon.facebook a {
      padding: 0px 18px 0px 20px; }
    nav ul li.icon.twitter a {
      padding: 0px 16px 0px 18px; }
    nav ul li a {
      display: inline-block;
      padding: 0px 20px;
      -webkit-transition: background-color 0.1s ease-in-out;
              transition: background-color 0.1s ease-in-out; }

#header-region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 20px; }
  #header-region .container {
    height: 66px;
    background-color: rgba(0, 0, 0, 0.4); }
  #header-region #logo {
    position: relative;
    display: block;
    float: left;
    height: 50px;
    margin: 0;
    padding: 8px 0px 8px 40px; }
    #header-region #logo small {
      display: block;
      position: absolute;
      top: 24px;
      right: 0px;
      text-decoration: none;
      color: white;
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 0px;
      /* Safari */
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      /* Internet Explorer */ }
  #header-region nav ul {
    height: 66px;
    margin: 0px 1.5rem; }
    #header-region nav ul.primary {
      float: left; }
    #header-region nav ul.secondary {
      float: right;
      margin-right: 20px; }
    #header-region nav ul li {
      height: 66px; }
      #header-region nav ul li a {
        font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1rem;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 66px;
        letter-spacing: 2px; }
        #header-region nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.1); }
      #header-region nav ul li.icon i {
        font-size: 1.25rem; }
  #header-region .open-mobile-menu {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 23px; }
    #header-region .open-mobile-menu span {
      display: block;
      width: 20px;
      height: 3px;
      margin-bottom: 4px;
      background-color: white; }

#mobile-menu {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 450px;
  height: 100%;
  background-color: black;
  z-index: 1000;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out; }
  #mobile-menu .container {
    width: 100%;
    height: 100%;
    background-color: black; }
  #mobile-menu nav {
    width: 100%;
    background-color: black; }
    #mobile-menu nav ul {
      padding: 20px; }
      #mobile-menu nav ul li {
        display: block;
        border-bottom: 1px solid #222; }
        #mobile-menu nav ul li:last-child {
          border-bottom: none; }
        #mobile-menu nav ul li a {
          display: block;
          font-size: 1.5rem;
          text-decoration: none;
          line-height: 4rem; }
    #mobile-menu nav.secondary {
      position: absolute;
      width: 100%;
      bottom: 0; }
      #mobile-menu nav.secondary ul li a {
        font-size: 1.2rem;
        line-height: 3rem; }

body.mobile-menu-open {
  overflow: hidden; }
  body.mobile-menu-open #page {
    -webkit-transform: translateX(450px);
        -ms-transform: translateX(450px);
            transform: translateX(450px); }
  body.mobile-menu-open #mobile-menu {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px); }
  body.mobile-menu-open #overlay {
    opacity: 0.6; }

#background-region {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  background: transparent url(../img/backgrounds/default-1.jpg) no-repeat 50% 0%;
  background-size: cover;
  z-index: -1; }
  #background-region:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    content: " ";
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 0%, #111 100%);
    background-image: -webkit-linear-gradient(top, transparent 0%, #111 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); }

#hero {
  position: relative;
  height: 400px;
  margin-bottom: 10px; }
  #hero h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px #000; }

#main-region {
  padding-top: 106px;
  padding-bottom: 56px;
  max-width: 1400px;
  margin: 0 auto; }

#content .container {
  padding: 0px 20px; }

#footer-region {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px; }
  #footer-region .container {
    height: 56px;
    background-color: rgba(0, 0, 0, 0.4); }
  #footer-region .copyright {
    line-height: 56px;
    float: left;
    padding: 0px 30px;
    opacity: 0.5;
    font-size: 12px;
    text-transform: uppercase; }
  #footer-region nav ul {
    height: 56px;
    margin: 0px;
    float: right;
    margin-right: 20px; }
    #footer-region nav ul li {
      height: 56px; }
      #footer-region nav ul li a {
        font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.9rem;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 56px;
        opacity: 0.5; }
        #footer-region nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.1);
          opacity: 0.9; }
      #footer-region nav ul li.icon a {
        width: 10px; }
      #footer-region nav ul li.icon i {
        font-size: 1rem; }

.page.frontpage .slideshow .container {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center; }
.page.frontpage .slideshow .slide {
  font-size: 6rem; }

.pages .page {
  display: none; }
  .pages .page.active {
    display: block; }
  .pages .page .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    z-index: -1; }
    .pages .page .background:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 300px;
      content: " ";
      background-color: transparent;
      background-image: linear-gradient(to bottom, transparent 0%, #111 100%);
      background-image: -webkit-linear-gradient(top, transparent 0%, #111 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); }

.page.set #hero {
  height: 240px; }
  .page.set #hero h2 small {
    display: block;
    font-size: 2rem; }
.page.set #content {
  width: 960px;
  margin: 0 auto; }
  .page.set #content .container {
    padding: 0px; }

#player {
  position: relative;
  width: 960px;
  margin: 0 auto 10px; }

#video {
  width: 650px;
  height: 366px;
  margin-right: 310px;
  background-color: black; }

#playlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 408px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll; }
  #playlist .track {
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
    height: 77px;
    overflow: hidden;
    -webkit-transition: height 0.4s ease-in-out;
            transition: height 0.4s ease-in-out; }
    #playlist .track.open {
      height: 154px; }
    #playlist .track .info {
      padding: 20px 0px 20px 20px;
      height: 37px;
      white-space: nowrap;
      width: 170px;
      overflow: hidden;
      cursor: pointer; }
    #playlist .track .title {
      font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-bottom: 0.4rem;
      font-size: 1.2rem; }
    #playlist .track .artist {
      opacity: 0.8; }
    #playlist .track .links {
      position: absolute;
      top: 0px;
      right: 15px;
      width: 90px;
      height: 24px;
      text-align: right; }
      #playlist .track .links .now-playing {
        display: none;
        position: relative;
        top: -2px;
        width: 24px;
        height: 24px;
        text-align: center;
        font-size: 0px; }
        #playlist .track .links .now-playing span {
          display: inline-block;
          width: 1px;
          height: 2px;
          margin-top: 13px;
          border-right: 3px solid #000;
          margin-right: 2px;
          opacity: 0.8; }
      #playlist .track .links a {
        width: 24px;
        height: 24px;
        display: none;
        font-size: 20px;
        padding: 27px 5px 26px;
        line-height: 24px;
        color: white;
        opacity: 0.5;
        text-decoration: none; }
        #playlist .track .links a:hover {
          opacity: 1; }
      #playlist .track .links .free {
        display: inline-block;
        position: relative;
        top: -12px;
        text-indent: 1px;
        font-size: 10px;
        text-decoration: none; }
    #playlist .track.current {
      background-color: rgba(255, 255, 255, 0.8);
      color: black; }
      #playlist .track.current .links .now-playing {
        display: inline-block; }
        #playlist .track.current .links .now-playing span {
          -webkit-animation-duration: 9999s;
                  animation-duration: 9999s; }
      #playlist .track.current .links a {
        color: black;
        display: inline-block; }
      #playlist .track.current .download-links a {
        color: black; }
    #playlist .track:hover .download {
      display: inline-block; }
  #playlist .download-links {
    padding: 8px 20px 20px;
    text-align: center; }
    #playlist .download-links a {
      display: inline;
      color: white;
      line-height: 1.5rem;
      margin: 0px 0px; }
      #playlist .download-links a img {
        width: 120px; }
  #playlist.playing .track .links .now-playing span {
    -webkit-animation-name: playingBars;
            animation-name: playingBars;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
    #playlist.playing .track .links .now-playing span:nth-child(1) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-name: playingBars;
              animation-name: playingBars; }
    #playlist.playing .track .links .now-playing span:nth-child(2) {
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
      -webkit-animation-duration: 1.2s;
              animation-duration: 1.2s;
      -webkit-animation-name: playingBars;
              animation-name: playingBars; }
    #playlist.playing .track .links .now-playing span:nth-child(3) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
      -webkit-animation-duration: 1.1s;
              animation-duration: 1.1s;
      -webkit-animation-name: playingBars;
              animation-name: playingBars; }

#timeline {
  width: 650px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.4); }
  #timeline .play, #timeline .current-time {
    float: left;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center; }
  #timeline .play {
    cursor: pointer; }
    #timeline .play .fa-pause {
      display: none;
      line-height: 42px; }
    #timeline .play.playing .fa-pause {
      display: block; }
    #timeline .play.playing .fa-play {
      display: none; }
  #timeline .total-time, #timeline .volume {
    float: right;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center; }
  #timeline .bar {
    position: relative;
    display: block;
    height: 42px;
    overflow: hidden;
    padding: 0px 10px; }
    #timeline .bar .line {
      position: relative;
      margin: 20px 0px;
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.5); }
    #timeline .bar .pos {
      position: absolute;
      top: -5px;
      left: 0%;
      display: block;
      background-color: white;
      width: 9px;
      height: 9px;
      margin-left: -4px;
      border-radius: 100%; }
    #timeline .bar .tracks .track {
      position: absolute;
      left: 0%;
      width: 1px;
      height: 13px;
      margin-top: -7px;
      background-color: #00d0ff; }
      #timeline .bar .tracks .track.track-1 {
        left: 0%; }
      #timeline .bar .tracks .track.track-2 {
        left: 8%; }
      #timeline .bar .tracks .track.track-3 {
        left: 22%; }
      #timeline .bar .tracks .track.track-4 {
        left: 34%; }
      #timeline .bar .tracks .track.track-5 {
        left: 55%; }
      #timeline .bar .tracks .track.track-6 {
        left: 60%; }
      #timeline .bar .tracks .track.track-7 {
        left: 77%; }
      #timeline .bar .tracks .track.track-8 {
        left: 81%; }
      #timeline .bar .tracks .track.track-9 {
        left: 94%; }

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slideshow .prev, .slideshow .next {
    position: absolute;
    top: 50%;
    height: 48px;
    padding: 0px 20px;
    font-size: 48px;
    line-height: 48px;
    margin-top: -24px;
    color: white;
    opacity: 0.6;
    z-index: 5; }
    .slideshow .prev:hover, .slideshow .next:hover {
      opacity: 1; }
  .slideshow .prev {
    left: 0px; }
  .slideshow .next {
    right: 0px; }
  .slideshow .bullets {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center; }
    .slideshow .bullets a {
      font-size: 36px;
      text-decoration: none;
      color: white;
      opacity: 0.6;
      padding: 0px 2px; }
      .slideshow .bullets a:hover, .slideshow .bullets a.active {
        opacity: 1; }
  .slideshow .slides {
    width: auto;
    height: 100%;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
            transition: transform 0.6s ease-in-out; }
  .slideshow .slide {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%; }

.thumbnail-list ul {
  margin: 0;
  list-style: none; }
  .thumbnail-list ul li {
    display: block;
    width: 24.25%;
    height: 220px;
    float: left;
    margin: 0 1% 1% 0;
    background-color: rgba(0, 0, 0, 0.4); }
    .thumbnail-list ul li:nth-child(4n) {
      margin-right: 0; }
  .thumbnail-list ul .thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-position: 50% 50%; }
    .thumbnail-list ul .thumbnail .thumbnail-details {
      position: absolute;
      width: 100%;
      font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 1.4rem; }
      .thumbnail-list ul .thumbnail .thumbnail-details span {
        padding: 0 20px;
        display: block; }
        .thumbnail-list ul .thumbnail .thumbnail-details span.genre, .thumbnail-list ul .thumbnail .thumbnail-details span.location, .thumbnail-list ul .thumbnail .thumbnail-details span.total-time {
          font-size: 0.857rem; }
    .thumbnail-list ul .thumbnail.thumbnail-artist:before, .thumbnail-list ul .thumbnail.thumbnail-venue:before {
      position: absolute;
      left: 50%;
      margin-left: -110px;
      display: block;
      content: '';
      width: 220px;
      height: 220px;
      background-color: #000;
      opacity: 0.7;
      -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out; }
    .thumbnail-list ul .thumbnail.thumbnail-artist:hover:before, .thumbnail-list ul .thumbnail.thumbnail-venue:hover:before {
      opacity: 0.8;
      width: 280px;
      height: 280px;
      margin-left: -140px;
      margin-top: -30px; }
    .thumbnail-list ul .thumbnail.thumbnail-artist .thumbnail-details, .thumbnail-list ul .thumbnail.thumbnail-venue .thumbnail-details {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      text-align: center;
      padding-top: 1rem; }
      .thumbnail-list ul .thumbnail.thumbnail-artist .thumbnail-details span, .thumbnail-list ul .thumbnail.thumbnail-venue .thumbnail-details span {
        padding: 0 40px; }
        .thumbnail-list ul .thumbnail.thumbnail-artist .thumbnail-details span.title:after, .thumbnail-list ul .thumbnail.thumbnail-venue .thumbnail-details span.title:after {
          display: block;
          content: " ";
          width: 80px;
          height: 1px;
          margin: 0.5rem auto 0.65rem;
          border-top: 1px solid rgba(255, 255, 255, 0.8); }
    .thumbnail-list ul .thumbnail.thumbnail-artist:before {
      border-radius: 100%; }
    .thumbnail-list ul .thumbnail.thumbnail-venue:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .thumbnail-list ul .thumbnail.thumbnail-set .thumbnail-details {
      top: 125px;
      bottom: 0px;
      padding-bottom: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      margin: 0px;
      -webkit-transition: top 0.2s ease-in-out, background-color 0.2s ease-in-out;
              transition: top 0.2s ease-in-out, background-color 0.2s ease-in-out; }
      .thumbnail-list ul .thumbnail.thumbnail-set .thumbnail-details span.artist {
        margin-top: 15px;
        margin-bottom: 0.2rem; }
      .thumbnail-list ul .thumbnail.thumbnail-set .thumbnail-details span.venue {
        font-size: 1rem; }
        .thumbnail-list ul .thumbnail.thumbnail-set .thumbnail-details span.venue:after {
          display: block;
          content: " ";
          width: 100%;
          height: 1px;
          margin: 0.5rem auto;
          border-top: 1px solid rgba(255, 255, 255, 0.8); }
      .thumbnail-list ul .thumbnail.thumbnail-set .thumbnail-details span.genre {
        margin-bottom: 15px; }
      .thumbnail-list ul .thumbnail.thumbnail-set .thumbnail-details span.total-time {
        float: right; }
    .thumbnail-list ul .thumbnail.thumbnail-set:hover .thumbnail-details {
      top: 0px;
      background-color: rgba(0, 0, 0, 0.8); }
.thumbnail-list.thumbnail-list-2 ul li {
  width: 49.5%; }
  .thumbnail-list.thumbnail-list-2 ul li:nth-child(2n) {
    margin-right: 0; }

.details {
  position: relative;
  margin-bottom: 10px;
  height: 327px; }
  .details .details-col {
    position: relative;
    margin-right: 310px;
    height: 100%; }
  .details .share-col {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%; }
    .details .share-col .share {
      margin-bottom: 10px;
      background-color: rgba(0, 0, 0, 0.4); }
    .details .share-col .content {
      padding: 0px; }
    .details .share-col h4 {
      float: left;
      margin: 0;
      padding: 0px 0px 0px 30px;
      line-height: 1.6em;
      line-height: 66px; }
    .details .share-col .share-links {
      margin-right: 10px;
      float: right;
      text-align: center;
      height: 66px; }
      .details .share-col .share-links a {
        display: inline-block;
        width: 58px;
        font-size: 22px;
        line-height: 66px;
        color: white; }
        .details .share-col .share-links a:hover {
          background-color: rgba(255, 255, 255, 0.2); }
  .details .content {
    padding: 0px 30px 30px; }
  .details .bio, .details .overview {
    margin-right: 310px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }
    .details .bio::-webkit-scrollbar, .details .overview::-webkit-scrollbar {
      background-clip: padding-box;
      width: 20px; }
    .details .bio::-webkit-scrollbar-button, .details .overview::-webkit-scrollbar-button {
      display: none; }
    .details .bio::-webkit-scrollbar-track, .details .overview::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
      border-radius: 0px; }
    .details .bio::-webkit-scrollbar-thumb, .details .overview::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.6);
      width: 5px;
      border-radius: 10px;
      border: 8px solid rgba(0, 0, 0, 0);
      background-clip: padding-box; }
    .details .bio::-webkit-scrollbar-thumb:hover, .details .overview::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.95);
      border: 8px solid rgba(0, 0, 0, 0); }
    .details .bio::-webkit-scrollbar-corner, .details .overview::-webkit-scrollbar-corner {
      background-color: transparent; }
  .details .info {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%; }

.ad {
  width: 300px;
  height: 250px;
  background-color: rgba(255, 0, 0, 0.2); }
  .ad h3 {
    display: none; }

@media all and (min-width: 1250px) {
  .page.set #content {
    width: 1183px;
    margin: 0px auto; }
  #player {
    width: 1183px; }
  #video {
    width: 873px;
    height: 491px; }
  #timeline {
    width: 873px; }
  #playlist {
    height: 533px; } }

@media all and (max-width: 1000px) {
  html, body {
    min-width: 650px; }
  .slideshow .slide img {
    width: 80%; }
  .thumbnail-list ul li {
    width: 49.5%; }
    .thumbnail-list ul li:nth-child(2n) {
      margin-right: 0; }
  #header-region #logo {
    margin: 0 auto;
    float: none;
    width: 230px; }
  #header-region nav {
    display: none; }
  #header-region .open-mobile-menu {
    display: block; }
  #footer-region {
    display: none; }
  #mobile-menu {
    display: block; }
  .details {
    height: auto; }
    .details .details-col, .details .share-col {
      position: static;
      width: 100%;
      margin: 0 0 10px; }
    .details .bio, .details .overview {
      width: 100%;
      margin: 0 0 10px;
      height: 300px; }
    .details .info {
      position: static;
      width: 100%; }
    .details .ad {
      display: none; }
  .page.set #hero {
    height: 180px; }
  .page.set #content {
    width: 100%; }
  #player {
    width: 100%; }
    #player #video {
      margin: 0 auto; }
    #player #timeline {
      margin: 0 auto 10px; }
    #player #playlist {
      position: static;
      width: 650px;
      margin: 0 auto 80px;
      height: 300px; } }
