/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix, dl.horizontal, #header-region, #footer-region, .slideshow .bullets, .slideshow .slides, .thumbnail-list ul, .details, .details .details-col, .details .share .content {
  *zoom: 1; }
  .clearfix:before, dl.horizontal:before, #header-region:before, #footer-region:before, .slideshow .bullets:before, .slideshow .slides:before, .thumbnail-list ul:before, .details:before, .details .details-col:before, .details .share .content:before, .clearfix:after, dl.horizontal:after, #header-region:after, #footer-region:after, .slideshow .bullets:after, .slideshow .slides:after, .thumbnail-list ul:after, .details:after, .details .details-col:after, .details .share .content:after {
    content: " ";
    display: table; }
  .clearfix:after, dl.horizontal:after, #header-region:after, #footer-region:after, .slideshow .bullets:after, .slideshow .slides:after, .thumbnail-list ul:after, .details:after, .details .details-col:after, .details .share .content:after {
    clear: both; }

@font-face {
  font-family: ProximaRegular;
  src: url(../fonts/Proxima/ProximaNova-Regular.otf); }

@font-face {
  font-family: ProximaBold;
  src: url(../fonts/Proxima/ProximaNova-Bold.otf); }

@font-face {
  font-family: ProximaSemiBold;
  src: url(../fonts/Proxima/ProximaNova-Semibold.otf); }

@font-face {
  font-family: ProximaLight;
  src: url(../fonts/Proxima/ProximaNova-Light.otf); }

html {
  font-size: 87.5%;
  color: #FFF;
  line-height: 1.5;
  font-family: ProximaRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #FFF;
  font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2rem;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1em;
  text-transform: uppercase;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px; }

.container > h3 {
  margin: 0px -20px 10px; }

h4 {
  font-size: 1.1rem;
  line-height: 1.25;
  margin-bottom: 1.7rem;
  height: 1.25rem;
  text-transform: uppercase; }

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem; }

h6 {
  font-size: 1rem;
  font-weight: bold; }

p {
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
  line-height: 1.5rem; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #00d0ff; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

pre, code {
  white-space: pre; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

li ul, li ol {
  margin: 0 1.5rem; }

ul, ol {
  margin: 0 1.5rem 1.5rem 1.5rem; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5rem 0; }

dl dt {
  font-weight: bold;
  margin-bottom: 1rem; }

dd {
  margin-left: 1.5rem;
  margin-bottom: 1rem; }

dl.horizontal dt {
  float: left;
  clear: both;
  width: 40%; }

table {
  width: 100%; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer;
  -webkit-appearance: none; }

label {
  font-weight: bold; }

legend {
  font-weight: bold; }

html {
  height: 100%; }

body {
  background-color: #000;
  min-height: 100%;
  height: 100%; }

#page {
  position: relative;
  min-height: 100%;
  padding-bottom: 76px; }

nav ul {
  margin: 0; }
  nav ul li {
    display: inline-block; }
    nav ul li.icon a {
      padding: 0px 10px; }
      nav ul li.icon a:hover {
        background-color: transparent !important; }
    nav ul li a {
      display: inline-block;
      padding: 0px 20px; }

#header-region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 20px; }
  #header-region .container {
    height: 66px;
    background-color: rgba(0, 0, 0, 0.4); }
  #header-region #logo {
    position: relative;
    display: block;
    float: left;
    height: 50px;
    margin: 0;
    padding: 8px 0px 8px 40px; }
    #header-region #logo small {
      display: block;
      position: absolute;
      top: 23px;
      right: 0px;
      text-decoration: none;
      color: white;
      opacity: 0.4;
      font-size: 13px;
      /* Safari */
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      /* Internet Explorer */ }
  #header-region nav ul {
    height: 66px;
    margin: 0px 1.5rem; }
    #header-region nav ul.primary {
      float: left; }
    #header-region nav ul.secondary {
      float: right;
      margin-right: 20px; }
    #header-region nav ul li {
      height: 66px; }
      #header-region nav ul li a {
        font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1rem;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 66px;
        letter-spacing: 1px; }
        #header-region nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.1); }
      #header-region nav ul li.icon i {
        font-size: 1.25rem; }

#background-region {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  background: transparent url(../img/background.jpg) no-repeat 50% 0%;
  background-size: cover;
  z-index: -1; }
  #background-region:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    content: " ";
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 0%, #000000 100%);
    background-image: -webkit-linear-gradient(top, transparent 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); }

#hero {
  position: relative;
  height: 400px;
  margin-bottom: 10px; }
  #hero h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px #000; }

#main-region {
  padding-top: 106px; }

#content .container {
  padding: 0px 20px; }

#footer-region {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px; }
  #footer-region .container {
    height: 66px;
    background-color: rgba(0, 0, 0, 0.4); }
  #footer-region .copyright {
    line-height: 66px;
    float: left;
    padding: 0px 30px;
    opacity: 0.5;
    font-size: 12px;
    text-transform: uppercase; }
  #footer-region nav ul {
    height: 66px;
    margin: 0px;
    float: right;
    margin-right: 20px; }
    #footer-region nav ul li {
      height: 66px; }
      #footer-region nav ul li a {
        font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1rem;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 66px;
        letter-spacing: 1px; }
        #footer-region nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.1); }
      #footer-region nav ul li.icon i {
        font-size: 1.25rem; }

#page.page-frontpage .slideshow .container {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center; }
#page.page-frontpage .slideshow .slide {
  font-size: 6rem; }

.pages .page {
  display: none; }
  .pages .page.active {
    display: block; }

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slideshow .prev, .slideshow .next {
    position: absolute;
    top: 50%;
    height: 48px;
    padding: 0px 20px;
    font-size: 48px;
    line-height: 48px;
    margin-top: -24px;
    color: white;
    opacity: 0.6;
    z-index: 5; }
    .slideshow .prev:hover, .slideshow .next:hover {
      opacity: 1; }
  .slideshow .prev {
    left: 0px; }
  .slideshow .next {
    right: 0px; }
  .slideshow .bullets {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center; }
    .slideshow .bullets a {
      font-size: 36px;
      text-decoration: none;
      color: white;
      opacity: 0.6;
      padding: 0px 2px; }
      .slideshow .bullets a:hover, .slideshow .bullets a.active {
        opacity: 1; }
  .slideshow .slides {
    width: auto;
    height: 100%;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
            transition: transform 0.6s ease-in-out; }
  .slideshow .slide {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%; }

.thumbnail-list ul {
  margin: 0;
  list-style: none; }
  .thumbnail-list ul li {
    display: block;
    width: 24.25%;
    height: 200px;
    float: left;
    margin: 0 1% 1% 0;
    background-color: rgba(0, 0, 0, 0.4); }
    .thumbnail-list ul li:nth-child(4n) {
      margin-right: 0; }
  .thumbnail-list ul .thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer; }
    .thumbnail-list ul .thumbnail .details {
      position: absolute;
      width: 100%;
      font-family: ProximaSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 1.4rem; }
      .thumbnail-list ul .thumbnail .details span {
        padding: 0 20px;
        display: block; }
        .thumbnail-list ul .thumbnail .details span.genre, .thumbnail-list ul .thumbnail .details span.location {
          font-size: 0.857rem; }
    .thumbnail-list ul .thumbnail.thumbnail-artist:before, .thumbnail-list ul .thumbnail.thumbnail-venue:before {
      position: absolute;
      left: 50%;
      margin-left: -100px;
      display: block;
      content: '';
      width: 200px;
      height: 200px;
      background-color: #000;
      opacity: 0.7;
      -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out; }
    .thumbnail-list ul .thumbnail.thumbnail-artist:hover:before, .thumbnail-list ul .thumbnail.thumbnail-venue:hover:before {
      opacity: 0.8;
      width: 280px;
      height: 280px;
      margin-left: -140px;
      margin-top: -40px; }
    .thumbnail-list ul .thumbnail.thumbnail-artist .details, .thumbnail-list ul .thumbnail.thumbnail-venue .details {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      text-align: center;
      padding-top: 1rem; }
      .thumbnail-list ul .thumbnail.thumbnail-artist .details span, .thumbnail-list ul .thumbnail.thumbnail-venue .details span {
        padding: 0 40px; }
        .thumbnail-list ul .thumbnail.thumbnail-artist .details span.title:after, .thumbnail-list ul .thumbnail.thumbnail-venue .details span.title:after {
          display: block;
          content: " ";
          width: 80px;
          height: 1px;
          margin: 0.5rem auto 0.65rem;
          border-top: 1px solid rgba(255, 255, 255, 0.8); }
    .thumbnail-list ul .thumbnail.thumbnail-artist:before {
      border-radius: 100%; }
    .thumbnail-list ul .thumbnail.thumbnail-venue:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .thumbnail-list ul .thumbnail.thumbnail-set .details {
      bottom: 0px;
      padding-bottom: 20px; }
      .thumbnail-list ul .thumbnail.thumbnail-set .details span.artist {
        margin-bottom: 0.2rem; }
      .thumbnail-list ul .thumbnail.thumbnail-set .details span.venue {
        font-size: 1rem; }
        .thumbnail-list ul .thumbnail.thumbnail-set .details span.venue:after {
          display: block;
          content: " ";
          width: 100%;
          height: 1px;
          margin: 0.5rem auto;
          border-top: 1px solid rgba(255, 255, 255, 0.8); }

.details {
  overflow: hidden;
  height: auto;
  position: relative;
  margin-bottom: 10px; }
  .details .details-col {
    position: absolute;
    overflow: hidden;
    height: 100%;
    margin-right: 310px; }
  .details .other-col {
    float: right;
    width: 300px;
    height: 341px; }
  .details .bio, .details .overview {
    float: left;
    width: 59%;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; }
    .details .bio::-webkit-scrollbar, .details .overview::-webkit-scrollbar {
      background-clip: padding-box;
      width: 20px; }
    .details .bio::-webkit-scrollbar-button, .details .overview::-webkit-scrollbar-button {
      display: none; }
    .details .bio::-webkit-scrollbar-track, .details .overview::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
      border-radius: 0px; }
    .details .bio::-webkit-scrollbar-thumb, .details .overview::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.6);
      width: 5px;
      border-radius: 10px;
      border: 8px solid rgba(0, 0, 0, 0);
      background-clip: padding-box; }
    .details .bio::-webkit-scrollbar-thumb:hover, .details .overview::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.95);
      border: 8px solid rgba(0, 0, 0, 0); }
    .details .bio::-webkit-scrollbar-corner, .details .overview::-webkit-scrollbar-corner {
      background-color: transparent; }
  .details .info {
    float: left;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%; }
  .details .content {
    padding: 30px; }
  .details .share {
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px; }
    .details .share h4 {
      float: left;
      margin: 0;
      line-height: 1.6em; }
    .details .share .share-links {
      margin-right: 10px;
      float: right;
      text-align: center; }
      .details .share .share-links a {
        display: inline-block;
        padding: 0px 10px;
        font-size: 20px;
        color: white; }

.ad {
  width: 300px;
  height: 250px;
  background-color: rgba(255, 0, 0, 0.2); }
  .ad h3 {
    display: none; }
