<div class="track" data-start="{{startsAt}}">
  <div class="links">
    <div class="now-playing"><span></span><span></span><span></span></div>
    <a href="{{link}}" class="download{{#if free}} is-free{{/if}}"><i class="fa fa-download"></i>{{#if free}}<span class="free">FREE</span>{{/if}}</a>
  </div>
  <div class="info">
    <div class="title{{#if titleScrolling}} scroll{{/if}}">{{#if titleScrolling}}<marquee behavior="alternate" direction="left" scrollamount="1">&nbsp;&nbsp;&nbsp;&nbsp;{{/if}}{{title}}{{#if titleScrolling}}&nbsp;&nbsp;&nbsp;&nbsp;</marquee>{{/if}}</div>
    <div class="artist">{{#if artistScrolling}}<marquee behavior="alternate" direction="left" scrollamount="1">&nbsp;&nbsp;&nbsp;&nbsp;{{/if}}{{artist}}{{#if artistScrolling}}&nbsp;&nbsp;&nbsp;&nbsp;</marquee>{{/if}}</div>
  </div>
  <div class="download-links">
    <a href="#" class="download-link itunes"><img src="img/logo-appstore.svg"></a>
    <a href="#" class="download-link beatport"><img src="img/logo-beatport.png"></a>
  </div>
</div>