<div class="track" data-start="{{startsAt}}">
  <div class="links">
    <div class="now-playing"><span></span><span></span><span></span></div>
    <a href="{{link}}" class="download"><i class="fa fa-download"></i></a>
  </div>
  <div class="title">{{title}}</div>
  <div class="artist">{{artist}}</div>
</div>